<!-- 
<div style="margin-left:10%; margin-right: 10%; background-color: antiquewhite;">
    <p (click)="showClientDetails()">{{this.customer.name}} </p>
    <div [ngClass]="showClientDetailsFlag?'displayDetails':'hideDetails'">
        <ul>
            <li>Ticket1</li>
            <li>Ticket1</li>
            <li>Ticket1</li>
            <li>Ticket1</li>
            <li>Ticket1</li>
        </ul>
    </div>
</div> -->



<div class="container-fluid">
    <div class="row my-2"  style="background-color: whitesmoke;" (mouseleave)="hideClientDetails()">
        <div class="col" (mouseover)="showClientDetails()" >
            {{this.customer.name}}
            <div [ngClass]="showClientDetailsFlag?'displayDetails':'hideDetails'" 
            
            >
                <p>List of tickets by this client</p>
                <ul style="list-style-type: none; display: inline-block;">
                    <li>#1234</li>
                    <li>#1211</li>
                    <li>#1122</li>
                </ul>
            </div>
        </div>
        <div class="col">
            {{this.customer.companyName}}
        </div>
        <div class="col">
            1
        </div>
        <div class="col">
            {{this.customer.numOfTickets}}
        </div>
        <div class="col">
            {{this.customer.csatRating}}
        </div>
    </div>
</div>

