<div class="container-fluid">
    <div class="row">
        <div class="col-2 my-3 p-0">Select Date:</div>
                    <div class="col-8 my-2 p-0"><input type="date" class="form-control"></div>
                    <div class="col-2 my-2 px-2">
                        <button class="btn btn-primary">Search</button>
        </div>
                    
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">No. of tickets assigned</th>
                    <th class="text-center">No. of tickets resolved</th>
                    <th class="text-center">Average Response Time</th>
                    <th class="text-center">Average Resolution Time</th>
                </tr>
                <tr>
                    <td  class="text-center">Amith</td>
                    <td  class="text-center">20</td>
                    <td  class="text-center">15</td>
                    <td  class="text-center">1h 5m</td>
                    <td  class="text-center">1h 5m</td>
                </tr>
                <tr>
                    <td  class="text-center">Amith</td>
                    <td  class="text-center">20</td>
                    <td  class="text-center">15</td>
                    <td  class="text-center">1h 5m</td>
                    <td  class="text-center">1h 5m</td>
                </tr>                
                <tr>
                    <td  class="text-center">Amith</td>
                    <td  class="text-center">20</td>
                    <td  class="text-center">15</td>
                    <td  class="text-center">1h 5m</td>
                    <td  class="text-center">1h 5m</td>
                </tr>
            </table>
        </div>
    </div>
</div>

