<div style="width: 100%; height: 10%; background-color: rgb(0, 2, 110);">
    <div class="container-fluid">
        <div class="row">
            <div class="col px-5 py-3">
            <nav class="nav">
                <span class="nav-option ">
                    <a class="nav-link px-4 text-white" href="/admin/tickets">Tickets</a>
                </span>
                <span class="nav-option ">
                    <a class="nav-link px-4 text-white" href="/admin/agents">Agents</a>
                </span>
                <span class="nav-option ">
                    <a class="nav-link px-4 text-white" href="/admin/customers">Customers</a>
                </span>        
            </nav>
            </div>
        </div>
    </div>
</div>


<div style="width: 100%; height: 90%;">


    <div style="
        float:left;
        /* display: inline-block;  */
        width: 15%; 
        height: 100%; 
        background-color: whitesmoke;
        ">

        <!-- <div class="container-fluid">
    <div class="row" style="background-color: rgb(3, 3, 133);">
        <div class="col">
            
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
    </div>
</div> -->
    </div>

    <div style="
    float: left;
    overflow-y: scroll;
    width: 70%; height: 100%; background-color: white;">
        <!-- <div class="container-fluid">
            <div class="row">
                    <div class="col border p-0" style="background-color: whitesmoke;" >
                        <div class="container" *ngFor="let ticket of [1,1,1,1,1,1,1,1,1,1,1,1]">
                            <div class="row">
                                <div class="col border gy-2 p-0">
                                    <app-ticket-card></app-ticket-card>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
        </div> -->
        <router-outlet></router-outlet>
        
    </div>
    <div style="
    float:left;
    width: 15%; height: 100%; background-color: whitesmoke;">
        <h1>Filter Panel goes here.</h1>
    </div>
    
</div>
