
<div class="row">

    <div class="col-2 border">
    <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/admin/tickets/tickets-panel">View Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/tickets/tickets-analytics">Analytics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/tickets/tickets-categories">Categories</a>
          </li>
    </ul>
  </div>

  <div class="col-10 border">
    <router-outlet></router-outlet>
  </div>
</div>
