<div class="customer-dashboard-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col px-5 py-3">
            <nav class="nav">
                <span class="nav-option " >
                    <a class="nav-link px-4 text-white" href="/customer/create-ticket">Create Ticket</a>
                </span>
                <span class="nav-option">
                    <a class="nav-link px-4 text-white" href="/customer/view-tickets">View Tickets</a>
                </span>       
            </nav>
            </div>
        </div>
    </div>
</div>


<div class="customer-dashboard-body">
    <div class="left-panel"></div>
    <div class="center-panel">
        <router-outlet></router-outlet>
    </div>
    <div class="right-panel"></div>    
</div>
