
<div class="agent-dashboard-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col px-5 py-3">
            <nav class="nav">
                <span class="nav-option">
                    <a class="nav-link px-4 text-white" href="/admin/tickets">View Tickets</a>
                </span>
                <span class="nav-option">
                    <a class="nav-link px-4 text-white" href="/admin/agents" >Customers</a>
                </span>
            </nav>
            </div>
        </div>
    </div>
</div>


<div class="agent-dashboard-body">
    <div class="left-panel"></div>
    <div class="center-panel">
        <router-outlet></router-outlet>
    </div>
</div>
