
<div style="background-color: white;" >
<div class="container-fluid" style="background-color: white;">
<div class="row py-3">
        <div class="col ">
            <h3 class="ticket-title">Title of the ticket goes here.</h3>
        </div>
    </div>
    <div class="row py-3">
        <div class="col ticket-desc-tag">
            Client's Name
        </div>
        <div class="col ticket-desc-tag">
            Created On: date-vale
        </div>
        <div class="col ticket-desc-tag">
            Status: Open
        </div>
        <div class="col ticket-desc-tag">
            Priority: Low
        </div>
        <div class="col ticket-desc-tag">
            Handled By: Agent's Name
        </div>
    </div>
</div>
</div>
