

<div class="container-fluid">
    <form action="">
        <div class="row my-3">
            <div class="col">Title: <input type="text" class="form-control"></div>
        </div>
        <div class="row my-3">
            <div class="col">
                <div>
                    Description:
                </div>
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                Priority:
                <select class="form-control" name="" id="">
                    <option value="">High</option>
                    <option value="">Medium</option>
                    <option value="">Low</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                Attach files: <input type="file" class="form-control">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2">
                <button class="btn btn-primary form-control">
                    Create Ticket
                    <i class="bi bi-plus-square"></i>
                </button>
            </div>
        </div>
    </form>
</div>