<div class="container-fluid py-4">

    <!-- Ticket title -->
    <div class="row">
        <div class="col">
            <h3>Title of the ticket</h3>
        </div>
    </div>

    <!-- Ticket info -->
    <div class="row">
        <div class="col-2">
            <i class="bi bi-person-circle"></i>
            Agent's name
        </div>
        <div class="col-1">
            Open
        </div>
        <div class="col-1">
            <i class="bi bi-square-fill"></i>
            High
        </div>
        <div class="col-3">
            <i class="bi bi-person-circle"></i>
            Client's name - 
            <i class="bi bi-briefcase-fill"></i>
            Company's name
        </div>
        <div class="col">
            <i class="bi bi-calendar-event"></i>
                19-June-2023
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <div class="tag-a">First Response Due</div>
            <div class="tag-b">Issue Category A</div>
            <div class="tag-c">High Value Customer</div>
            <div class="tag-d">Other Tags</div>
        </div>

    </div>

    <div class="row my-3">
        <div class="col-2">Add Response</div>
        <div class="col-6">
            <input type="text" name="" id="" class="form-control">
        </div>
        <div class="col-2">
            <button class="btn btn-primary">Add Response</button>
        </div>
    </div>

    <!-- Ticket responses -->
    <div class="row">
        <div class="col">
            <app-ticket-responses [ticketResponses]="responses"></app-ticket-responses>
        </div>
    </div>

</div>