
.tag-a {
    background-color: rgb(255, 178, 164); 
    color: rgb(146, 0, 0);
    border: 1px solid rgb(146, 0, 0);
    border-radius: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    width: 11rem;
    display: inline-block;
}

.tag-b {

    background-color: rgb(255, 255, 151); 
    color: rgb(182, 182, 0);
    border: 1px solid rgb(182, 182, 0);
    border-radius: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    width: 11rem;
    display:inline-block;
}

.tag-c {

    background-color: rgb(146, 255, 146); 
    color: green;
    border: 1px solid green;
    border-radius: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    width: 11rem;
    display:inline-block;    
}

.tag-d {
    background-color: rgb(176, 176, 255); 
    color: blue;
    border: 1px solid blue;
    border-radius: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
    width: 11rem;
    display:inline-block;
}

