<div class="container-fluid px-0">
  <div class="row py-2">
    <div class="col mx-1 border">
      <apx-chart
      [series]="series"
      [chart]="chart"
      [xaxis]="xaxis"
      [title]="title1"
    ></apx-chart>
    </div>
    <div class="col mx-1 border">
      <apx-chart
      [series]="series2"
      [chart]="chart2"
      [xaxis]="xaxis"
      [title]="title2"
    ></apx-chart>
    </div>
    </div>

    <div class="row py-2">
      <div class="col mx-1 border">
          <apx-chart
        [series]="series"
        [chart]="chart"
        [xaxis]="xaxis"
        [title]="title3"
      ></apx-chart>
      </div>

      <div class="col mx-1 border">
        <apx-chart
      [series]="series"
      [chart]="chart"
      [xaxis]="xaxis"
      [title]="title4"
    ></apx-chart>
    
      </div>
    </div>

  </div>
